@import 'tailwindcss';

@font-face {
  font-family: 'Pretendard';
  font-weight: 400; /* Regular */
  src: url('/Pretendard-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 500; /* Medium */
  src: url('/Pretendard-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 600; /* SemiBold */
  src: url('/Pretendard-SemiBold.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 700; /* Bold */
  src: url('/Pretendard-Bold.woff') format('woff');
}

@theme {
  /* 폰트 색상 */
  --color-font-white: #ffffff;
  --color-font-dark: #333333;

  /* 배경 색상 */
  --color-bg-primary: #efe3d3;

  /* 포인트 색상 (브라운) */
  --color-brown-accent: #966e4f;
  --color-brown-guide: #ad8e76;

  /* 그레이 색상 */
  --color-gray-dark: #767676;
  --color-gray-medium: #999999;
  --color-gray-light: #eeeeee;
  --color-gray-lighter: #d9d9d9;

  /* 테두리 색상 */
  --color-border-primary: #ddd8d2;

  /* 상태 색상 (빨강) */
  --color-red-dark: #c23b3b;
  --color-red-like: #ff2a2a;

  /* 상태 색상 (초록) */
  --color-green-primary: #4a7a5c;

  /* 상태 색상 (노랑) */
  --color-yellow-primary: #ffe70f;
}

body {
  font-family:
    'Pretendard',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
  font-weight: 400;
}
